/*.pmu-titre.pmu-titre.pmu-titre  {
	background-image: url("../img/up_02-100.jpg");
	background-position: center top;
	background-size: 100% auto;
}*/

.pmu-titre.pmu-titre.pmu-titre  {
	background: none;

}

.pmu-titre.masthead h1.header {
	font-family: 'Chewy', cursive;
	margin-top: 2em;
	margin-bottom: 0em;
	font-size: 6em;
	font-weight: normal;
}

body.pushable > .pusher{
	/*height:100%;
   width:100%;
   */background-image:url("../img/up_02-100.jpg");/*your background image*/  
   background-repeat:no-repeat;/*we want to have one single image not a repeated one*/  
   background-size:cover;

}